.App {
  text-align: center;
}

.pageHeader {
  margin-top: 10px;
  display: block;
  font-weight: bold;
  font-size: larger;
}

.ToggleDataTypeButton {
  display: block;
  margin-right: 10px;;
}

.ConvertButton {
  display: block;
  float: left;
}
